In [ ]:
# Q.1 (1)

In [45]:
def myreduce(function,lst):
    for i in range (len(lst)-1):
        temp=function(lst[i],lst[i+1])
        lst[i+1]=temp
    return temp
max_find = lambda a,b: a if (a > b) else b
lst =[100,2000,1,999]
a=myreduce(max_find,lst)
print(a)

2000

In [ ]:
# Q.1 (2)

In [7]:
def myfilter(function,lst):
    l=[]
    for i in range (len(lst)):
        temp=function(lst[i])
        if temp==True:
            l.append(lst[i])
        else:
            continue
    return l
def even_check(num):
    if num%2 ==0:
        return True
lst =[1,2,3,4,5,6,7,8]
s=myfilter(even_check,lst)
print(s)

[2, 4, 6, 8]

In [ ]:
# Q.2

In [29]:
a=['x','y','z']
lst=[item*i for item in a for i in range (1,5)]
lst

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [1]:
a=['x','y','z']
lst=[item*i for i in range (1,5) for item in a]
lst

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [38]:
a=[2,3,4]
lst1=[[item+i] for i in range (0,3) for item in a]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [39]:
b=[2,3,4,5]
lst2=[[item+i for item in b] for i in range (0,4) ]

In [40]:
lst1+lst2

[[2],
 [3],
 [4],
 [3],
 [4],
 [5],
 [4],
 [5],
 [6],
 [2, 3, 4, 5],
 [3, 4, 5, 6],
 [4, 5, 6, 7],
 [5, 6, 7, 8]]

In [43]:
c=[1,2,3]
lst=[(item,i)  for item in c for i in range (1,4) ]
lst

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]